.custom-context-menu li {
  cursor: pointer;
}
.custom-context-menu li:hover {
  background-color: #f2f2f2;
}
.table-options-btn {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}
